body {

    font-family: var(--font-family);

    font-size: var(--fs-md);

    color: var(--text-primary);

    line-height: 1.6;

}

h1 {

    font-size: var(--fs-3xl);

    font-weight: 700;

}

h2 {

    font-size: var(--fs-2xl);

    font-weight: 700;

}

h3 {

    font-size: var(--fs-xl);

    font-weight: 600;

}

p {

    color: var(--text-secondary);

}